[user]
    name = number23
    email = number23.cn@gmail.com

[alias]
    list = config --list
    co = checkout
    ci = commit -a
    st = status
    ss = status -s
    br = branch
    df = diff
    dc = diff --cached
    ds = diff --stat
    dhh = diff HEAD HEAD^
    pus = push origin master
    push-to-bitbucket = push bitbucket master
    unstage = reset HEAD
    fix = reset --hard
    patch = format-patch origin
    rb = rebase
    ls = ls-files

# log
    lp = log -p
    lg = log --oneline --decorate --graph
    lss = log --stat --summary
    last = log -1 HEAD

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[core]
    editor = vim

[merge]
    tool = vimdiff
