[user]
    name = number23
    email = number23.cn@gmail.com
	signingkey = FEC35B97

[alias]
    list = config --list
    co = checkout
    ci = commit -a
    cis = commit -S -a
    st = status
    ss = status -s
    br = branch
    df = diff
    dc = diff --cached
    ds = diff --stat
    dhh = diff HEAD HEAD^
    pus = push origin master
    push-to-bitbucket = push bitbucket master
    unstage = reset HEAD
    fix = reset --hard
    patch = format-patch origin
    rb = rebase
    ls = ls-files
    remote-details = remote show origin

# log
    log = log --show-signature
    lp = log -p
    lg = log --oneline --decorate --graph
	lgp = log --graph --all --pretty=format:'%C(bold)%h%Creset -%C(auto)%d%Creset %s %C(green dim)(%cr)%Creset %C(ul)<%an>'
    lss = log --stat --summary
    last = log -1 HEAD

[color]
    ui = true
#    diff = auto
#    status = auto
#    branch = auto
#    interactive = auto

[core]
    editor = vim
#    autocrlf = true

[merge]
    tool = vimdiff
